main {
  padding-top: 20px;
  width: 100%;
  min-width: 100vh;
}

.title {
  color: var(--dark-blue);
  text-align: center;
  font-weight: 500;
}

.table-container {
  width: 90%;
  margin: 0 auto;
}

.no-hovered {
  color: var(--dark-blue);
  cursor: pointer;
  text-decoration: none;
}

