<main>
  <h1 class="title">Información de la sede {{ schoolInfo.sede_nombre }}</h1>
  <form action="" [formGroup]="schoolForm" (ngSubmit)="updateSchool()">
    <div class="fields-container">

      <mat-form-field class="school-field">
        <mat-label>Nombre de la sede</mat-label>
        <input matInput placeholder="Nombre de la sede" formControlName="nombre">
      </mat-form-field>

      <mat-form-field style="max-width:220px !important">
        <mat-label>Zona</mat-label>
        <mat-select formControlName="zona">
          <mat-option *ngFor="let zone of zonesTypes" [value]="zone">{{zone}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="school-field">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección" formControlName="direccion">
      </mat-form-field>

      <mat-form-field class="school-field">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Teléfono" formControlName="telefono">
      </mat-form-field>

      <mat-form-field style="max-width:220px !important">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado">
          <mat-option *ngFor="let estado of statusTypes" [value]="estado">{{estado}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="max-width:220px !important">
        <mat-label>Sector</mat-label>
        <mat-select formControlName="sector">
          <mat-option *ngFor="let sector of sectorsTypes" [value]="sector">{{sector}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="max-width:220px !important">
        <mat-label>Modelos</mat-label>
        <mat-select formControlName="modelos">
          <mat-option *ngFor="let modelos of modelsTypes" [value]="modelos">{{modelos}}</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="school-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field class="school-field">
        <mat-label>Promedio</mat-label>
        <input matInput placeholder="Promedio (0 - 500)" type="number" formControlName="promedio">
      </mat-form-field>


      <button class="update-button">Actualizar</button>
    </div>

  </form>
</main>
