<app-header></app-header>
<main>
  <p class="section-title">Rankings de interés</p>
  <section class="ranking-section">
    <div class="ranking-container">
      <h2>Mejores 10 colegios de Colombia</h2>
      <span class="note">Según el puntaje global del ránking ICFES</span>
      <ol class="best-schools-list">
        <li class="best-school" *ngFor="let mejor of mejoresColombia; index as i">
          <a routerLink="">{{ mejor.establecimiento_nombre }}, en {{ mejor.municipio_nombre | titlecase }}</a>
        </li>
      </ol>
    </div>
    <div class="ranking-container">
      <h2>Mejores 10 colegios de Colombia</h2>
      <span>Necesitamos acceso a tu ubicación para esta funcionalidad</span>
      <ng-container *ngIf="!accesoUbicacion">
        <button></button>
      </ng-container>
    </div>
  </section>
  <p class="section-title">Mejores colegios por ciudad</p>
  <section class="cities-ranking">
    <div *ngFor="let colegio of colegiosCiudad" class="cities-school">
      <img class="cities-school__info-img" [src]="'../../../assets/images/cities/'+colegio.municipio_nombre+'.jpg'"
        [alt]="'Imagen de ' + colegio.municipio_nombre">
      <div class="padding">
        <h3 class="cities-school__name">{{ colegio.municipio_nombre | titlecase }}</h3>
        <b><span class="cities-school__info-name">{{ colegio.establecimiento_nombre | titlecase }}</span></b>
        <div class="cities-school__info">
          <span class="cities-school__info-text">Sector: {{ colegio.establecimiento_sector }}</span>
          <br>
          <span class="cities-school__info-text">Género: {{ colegio.establecimiento_genero }}</span>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
