.navigation {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 50px;
  background-color: var(--light-blue);
  gap: 30px;
  box-sizing: border-box;
}

.banner-logo {
  height: 100px;
}

.search-container {
  display: flex;
  flex-direction: column;
}


.mat-form-field-wrapper {
  border-color: var(--dark-blue);
}

.mat-icon {
  color: var(--dark-blue); /* Azul sólido */
}

.white-text {
  color: var(--white);
}

.other-pages {
  display: flex;
  gap: 20px;
}

.other-pages a {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.other-pages a:hover {
  color: var(--dark-blue);
}
